{% extends "base.html.twig" %}

{% block body %}

{% if is_granted('ROLE_MEMBER') %}
	{# Listing commands #}
	{% if commands.count == 0 %}
		{% include "member/_emptyCommand.html.twig" %}
	{% else %}
	
	<h4 class="mb-3">Vos commandes</h4>
	<div class="container-lg">
			<div class="mb-3">
				<table class="table mb-3">
					<thead>
						<tr>
							<th>Titre</th>
							<th>Prix</th>
							<th>Image</th>
							<th>Status</th>
							<th class="text-center">Action</th>
						</tr>
					</thead>
					<tbody>

						{% for command in commands %}
							<tr>
								<td>{{command.Article.title}}</td>
								<td>
									{{command.Article.prix|format_currency('EUR')}}
								</td>
								<td>
									{% for img in command.Article.images %}
										{% if loop.first %}
											<div class="img-ratio" style="--ratio:100%;">
												<div class="img">
													<img class="d-block w-100" src="{{ img|imageArticle }}" alt="image de">
												</div>
											</div>
										{% endif %}
									{% endfor %}
								</td>
								<td>
									{% for status in command.status %}
										{{status}}
									{% endfor %}
								</td>
								<td>
									<div class="d-flex justify-content-center flex-column align-items-center">
										<a class="m-1 btn btn-secondary" href="{{ path('article', {id: command.article.id}) }}">
											Voir l'article
											<i class="fas fa-eye"></i>
										</a>
										<a class="m-1 btn btn-danger btn-red" href="{{ path('delete_command', {id: command.id}) }}" onclick="return confirm('Etes vous sûr de vouloir supprimer la commande de {{ command.Article.title}} ?')">
											Supprimer ma commande
											<i class="fas fa-trash"></i>
										</a>
									</div>
								</td>
							</tr>
						{% endfor %}

					</tbody>
				</table>
				<div>
					<a href="{{ path('member') }}">
						<div class="btn btn-danger btn-red my-3">Retour</div>
					</a>
				</div>
			</div>
		{% endif %}
	</div>
{% else %}
	{% include "member/_emptyCommand.html.twig" %}
{% endif %}

	


{% endblock %}
