{% extends 'member/index.html.twig' %}

{% block content %}
    <div class="row offset-lg-4 col-4">
        <h3 class="text-center mb-5">Modifier</h3>
        <div class="text-start mb-5">
            {{ form_start(form) }}   
                {{ form_row(form.name) }}
                {{ form_row(form.lastname) }}
                {{ form_row(form.adress) }}
                {{ form_row(form.city) }}
                {{ form_row(form.postcode) }}                                  
                {{ form_row(form.phone) }}                                  
                            
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-success mt-3">Modifier</button>
                    <a href="{{ path('member') }}"><div class="btn btn-danger btn-red mt-3">Retour</div></a>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

