{% extends 'base.html.twig' %}

{% block title %}Images Accueil{% endblock %}

{% block body %}

    <h1 class="text-center mb-3">Images du carousel Accueil</h1>

	<div class="col-3 mx-auto mb-5">
		{{ form_start(form) }}
							
			<div class="d-flex">

				<div class="d-flex align-items-end">
					{{form_row(form.image)}}
				</div>							
					{{form_row(form.submit)}}
				
			</div>                
			
		{{ form_end(form) }}
	</div>

	<div class="offset-xl-1 col-10 images_home">
		{% for img in imagesHome %}
			
			<div class="card m-3" style="width: 18rem;">
				<div class="d-flex justify-content-end">
					
					<a href="{{ path('delete_imagesHome', {id:img.id}) }}">
						<div class="images_home_action btn-close"></div>				
					</a>

				</div>
				<img class="card-img-top" src="{{img|image}}" alt="Card image cap">
			</div>
			
		{% endfor %}
	</div>
	

	{# Listing articles #}
	{# <div class="mb-3">
		<table class="table mb-3">
			<thead>
				<tr>
					<th>Titre</th>
					<th>Description</th>
					<th>Poids</th>
					<th>Prix</th>
					<th>Categorie</th>
					<th>Images</th>
					<th class="text-center">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for homeImage in homeImages %}
					<tr class="all_articles">
						<td>{{article.title}}</td>
						<td>{{article.description}}</td>
						<td>{{article.weight}}</td>
						<td>{{article.prix|format_currency('EUR')}}</td>
						<td>{{article.categorie.nom}}</td>
						<td>
							{% for img in article.images %}
								<div class="img-ratio" style="--ratio:100%;">
									<div class="img p-2">
										<img src="{{ img|image }}" alt="image de">
									</div>
								</div>
							{% endfor %}
						</td>
						<td>
							<div class="d-flex">
								<a class="me-1 btn btn-primary" href="{{ path('update_article', {id: article.id}) }}">
									<i class="fas fa-pen"></i>
								</a>
								<a class="me-1 btn btn-danger btn-red" href="{{ path('delete_article', {id: article.id}) }}" onclick="return confirm('Etes vous sûr de vouloir supprimer cet article ?')">
									<i class="fas fa-trash"></i>
								</a>
							</div>
						</td>
					</tr>
				{% endfor %}


			</tbody>
		</table>
	</div>
	<div>
		<a href="{{ path('admin') }}">
			<div class="btn btn-danger my-3">Retour</div>
		</a>
	</div> #}

{% endblock %}
