<header>
    <div id="toolbar">				
        <div id="titre_principale">
            <a href="{{ path('home') }}">
                <h1>BECK Quentin</h1>						
                <h2>SCULPTURE</h2>
            </a>
        </div>
        <nav>
            <ul>					
                <li class="{{ route_name == 'home' ? 'selected_page' }}"><a href="{{ path('home') }}">Accueil</a></li>
                <li class="{{ route_name == 'creation' ? 'selected_page' }}"><a href="{{ path('creation') }}">Création</a></li>
                <li class="{{ route_name == 'boutique' or route_name == 'bougeoir' or route_name == 'lampe' or route_name == 'sculpture' ? 'selected_page' }}"><a href="{{ path('boutique') }}">Boutique<i class="fas fa-sort-down arrow_down"></i></a>
                    <ul>
                        <li class="{{ route_name == 'bougeoir' ? 'selected_page' }}"><a href="{{ path('bougeoir') }}">Bougeoir</a></li>
                        <li class="{{ route_name == 'lampe' ? 'selected_page' }}"><a href="{{ path('lampe') }}">Lampe</a></li>
                        <li class="{{ route_name == 'sculpture' ? 'selected_page' }}"><a href="{{ path('sculpture') }}">Sculpture</a></li>	
                    </ul>
                </li>
                <li class="{{ route_name == 'contact' ? 'selected_page' }}"><a href="{{ path('contact') }}">Contact</a></li>
                <li class="{{ route_name == 'panier' ? 'selected_page' }}" ><a href="{{ path('panier') }}"><i class="fas fa-shopping-cart"></i></a></li>
                
                <div class="nightmode_flex">
                    <input type="checkbox" class="nightmode" id="nightmode">
                    <label for="nightmode" class="select_nightmode">
                        <i class="fas fa-sun"></i>
                        <i class="fas fa-moon"></i>
                        <div class="ball"></div>
                    </label>
                </div>				
            </ul>
        </nav>
    </div>				
</header>
