<header>
	<div id="toolbar">
		<div id="titre_principale">
			<a href="{{ path('home') }}">
				<h1>BECK Quentin</h1>
				<h2>SCULPTURE</h2>
			</a>
		</div>
		<nav>
			<ul>
				<a href="{{ path('home') }}">
					<li class="{{ route_name == 'home' ? 'selected_page' }}">
						Accueil
					</li>
				</a>
				<a href="{{ path('creation') }}">
					<li class="{{ route_name == 'creation' ? 'selected_page' }}">
						Création
					</li>
				</a>
				<a href="{{ path('shop') }}">
					<li class="{{ route_name == 'shop' or route_name == 'bougeoir' or route_name == 'lampe' or route_name == 'sculpture' ? 'selected_page' }}">
						Boutique<i class="fas fa-sort-down arrow_down"></i>
						<ul>
							<a href="{{ path('bougeoir') }}">
								<li class="{{ route_name == 'bougeoir' ? 'selected_page' }}">
									Bougeoir
								</li>
							</a>
							<a href="{{ path('lampe') }}">
								<li class="{{ route_name == 'lampe' ? 'selected_page' }}">
									Lampe
								</li>
							</a>
							<a href="{{ path('sculpture') }}">
								<li class="{{ route_name == 'sculpture' ? 'selected_page' }}">
									Sculpture
								</li>
							</a>
						</ul>
					</li>
				</a>
				<a href="{{ path('contact') }}">
					<li class="{{ route_name == 'contact' ? 'selected_page' }}">
						Contact
					</li>
				</a>

				{% if is_granted('ROLE_USER') %}
					<a href="{{ path('redirect_user') }}">
						<li class="{{ route_name in ['admin','member'] ? 'selected_page' }}">
							<i class="fas fa-user-cog"></i>
						</li>
					</a>
					<a href="{{ path('app_logout') }}">
						<li class="{{ route_name == 'conexion' ? 'selected_page' }}">
							Déconnexion
						</li>
					</a>
				{% else %}
					<a href="{{ path('app_login') }}">
						<li class="{{ route_name == 'conexion' ? 'selected_page' }}">
							Connexion
						</li>
					</a>
				{% endif %}				
				<a href="{{ path('member_commands') }}">
					<li class="{{ route_name == 'member_commands' ? 'selected_page' }}">						
							<i class="fas fa-shopping-cart"></i>
					</li>
				</a>				

				<div class="nightmode_flex">
					<input type="checkbox" class="nightmode" id="nightmode">
					<label for="nightmode" class="select_nightmode">
						<i class="fas fa-sun"></i>
						<i class="fas fa-moon"></i>
						<div class="ball"></div>
					</label>
				</div>
			</ul>
		</nav>
	</div>
</header>
