{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

	<div class="portfolio">
		<a href="Portfolio/portfolio.html" target="_blank">Voir mon Portfolio</a>
	</div>
	
	<div class="titre_accueil">				
		<div class="titre_accueil_flex">
			<h3>Sculpture de fleuron fleur de Lys pour fontaine de village</h3>
		</div>
	</div>

	<div class="carousel_home_box"> 
		<div id="carousel_home" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2300">
			<ol class="carousel-indicators">
				{% set isFirst = true %}
				{% for img in imagesHome %}	
					{% if isFirst == true %}
						<button type="button" 
							data-bs-target="#carousel_home" 
							data-bs-slide-to="{{ loop.index0 }}" 
							class="active"
							aria-current="true">
						</button>	
					{% else %}
						<button type="button" 
							data-bs-target="#carousel_home" 
							data-bs-slide-to="{{loop.index0}}"> 
						</button>
					{% endif %}	
					{% set isFirst = false %}
				{% endfor %}				
			</ol>
			<div class="carousel-inner">				
				{% for img in imagesHome %}
					<div class="carousel-item {% if loop.first %}active{% endif %}">						
						<div class="img-ratio" style="--ratio:80%;">
							<div class="img">
								<img src="{{ img|image }}" alt="image de l'Accueil}">
							</div>
						</div>
					</div>		
				{% endfor %}				
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carousel_home" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carousel_home" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</div>
			
	<div class="novelties text-center mt-5">
		<h1 class="my-3">Nouveautés</h1>
		
		
		<div class="novelties_card_box py-3">
			{% for article in recentsArticles %}
				<a class="m-3" href="{{path('article', {id:article.id}) }}">
					<div class="novelties_card card" style="width: 18rem;">
					{% for img in article.images %}
						{% if loop.first %}
							<div class="img-ratio" style="--ratio:80%;">
								<div class="img">
									<img class="card-img-top" src="{{ img|imageArticle }}" alt="image de {{article.title}}">
								</div>
							</div>
						{% endif %}
					{% endfor %}
						<div class="novelties_card_body card-body">
							<h5 class="card-title">{{article.title}}</h5>
							<p class="card-text">{{article.description|short}}</p>
							<div class="d-flex justify-content-between align-items-end">
								<p class="card-price fs-5 m-0">{{article.prix|format_currency('EUR')}}</p>
								<div class="btn btn-danger btn-red">Voir plus</div>
							</div>
						</div>
					</div>
				</a>
			{% endfor %}
		</div>
		

	</div>

{% endblock %}


