{% extends 'base.html.twig' %}

{% block title %}Ajouter des Articles{% endblock %}

{% block body %}
    {# {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %} #}

    <div class="row offset-lg-4 col-4">
        <div class="col-mx-auto">

            <h1 class="text-center">Articles</h1>
            <div class="add_article">
                {{ form_start(form) }}
                    {{ form_row(form.title) }}                
                    {{ form_row(form.description) }}
                    {{ form_row(form.weight) }}
                    {{ form_row(form.prix) }}
                    {{ form_row(form.materials) }}
                    {{ form_row(form.categorie) }}
                    {{ form_row(form.images) }}

                    <div class="d-flex justify-content-between">
                        {{ form_row(form.submit) }} 
                        <a href="{{ path('articles_listing') }}"><div class="btn btn-danger btn-red my-3">Retour</div></a>
                    </div>   

                {{ form_end(form) }}
                </div>
            
        </div>
    </div>

    
{% endblock %}