{% extends "base.html.twig" %}

{% block body %}

<div class="row offset-lg-4 col-4">
        <h3 class="text-center mb-5">Ajouter votre message</h3>
        <div class="text-start mb-5">
        
            {% if is_granted('ROLE_MEMBER') %}
                Envoyé sous : {{user.name|capitalize}} {{user.lastname|upper}} 
                
            {% else %}
                <p><a href="{{path('app_login')}}">Connectez</a> vous pour que nous puissons vous répondre.</p>
                <br>
                <p>Ou laissez-nous un simple message :</p>

            {% endif %}
        
            <div id="clientMessageForm">
                {{ form_start(form) }}  
                    {# <div class="g-recaptcha mt-3" data-sitekey="6LcmB94aAAAAAAgcOQhm_it9bE75S0pmh48qfHMq" data-theme="dark"></div>#}
                {{ form_end(form) }}    
            </div>      

            <a class="btn btn-danger text-center mt-3" href="{{ path('member') }}">Retour</a>
        </div>
    </div>    
{% endblock %}

