{% extends "base.html.twig" %}

{% block body %}

<div class="row offset-lg-4 col-4">
        <h3 class="text-center mb-5">Ajouter votre message</h3>
        <div class="text-start mb-5">
        
            {% if is_granted('ROLE_MEMBER') %}
                Envoyé sous : {{user.name|capitalize}} {{user.lastname|upper}} 
                
            {% else %}
                <p><a href="{{path('app_login')}}">Connectez</a> vous pour que nous puissons vous répondre.</p>
                <br>
                <p>Ou laissez-nous un simple message :</p>

            {% endif %}
        
            <div id="clientMesssageForm">
                {{ form_start(form) }}
                <input type="hidden" id="form_captcha" name="form[captcha]" /><script>
                    var recaptchaCallback_form_captcha = function() {
                    grecaptcha.execute('6LcmB94aAAAAAAgcOQhm_it9bE75S0pmh48qfHMq', {action: 'landing'}).then(function(token) {
                    document.getElementById('form_captcha').value = token;
                    });
                    };
                    </script><script src="https://www.google.com/recaptcha/api.js?render=<YOUR-RECAPTCHA-KEY>&onload=recaptchaCallback_form_captcha" async defer></script> 
                </form>                                   
                {{ form_end(form) }}
            </div>

            <a class="btn btn-danger text-center mt-3" href="{{ path('member') }}">Retour</a>
        </div>
    </div>
    
    

{% endblock %}

