{% extends 'base.html.twig' %}

{% block title %}Listing des Articles
{% endblock %}

{% block body %}
	{# {# Search Articles #}
	<h4 class="mb-3">Liste des articles</h4>
	<div class="container-lg">
		<div class="search_articles d-flex justify-content-center mb-3">
			<form action="" method="POST" class="d-flex">
				<div>
					<select class="form-select" name="search_select_articles">
						<option selected>Trier par :</option>
						<option value="1">Titre Croissant</option>
						<option value="2">Titre Décroissant</option>
						<option value="3">Prix croissant</option>
						<option value="4">Prix décroissant</option>
						<option value="5">Catégorie</option>
					</select>
				</div>
				<div>
					<input type="text" class="form-control mx-2 w-100" placeholder="Recherchez" name="search_articles">
				</div>
				<div>
					<button class="btn btn-primary btn-blue ms-3">Recherchez<i class="fas fa-search ms-2"></i>
					</button>
				</div>
				<div>
					<a class="btn btn-primary btn-blue ms-2" href="{{ path('add_article') }}">Ajoutez<i class="fas fa-plus ms-2"></i>
					</a>
				</div>
			</form>
		</div>
	</div>


	{# Listing articles #}
	<div class="mb-3">
		<table class="table mb-3">
			<thead>
				<tr>
					<th>Titre</th>
					<th>Description</th>
					<th>Poids</th>
					<th>Prix</th>
					<th>Categorie</th>
					<th>Images</th>
					<th>Matériaux</th>
					<th class="text-center">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for article in articles %}
					<tr class="all_articles">
						<td class="col-1">{{article.title}}</td>
						<td class="col-4">{{article.description}}</td>
						<td class="col-1">{{article.weight}}</td>
						<td class="col-1">{{article.prix|format_currency('EUR')}}</td>
						<td class="col-1">{{article.categorie.nom}}</td>
						<td class="col-2">
							{% for img in article.images %}
								<div class="position-relative m-2">
									<div class="img-ratio" style="--ratio:100%;">
										<div class="img">
											<img src="{{ img|imageArticle }}" alt="image de {{article.title}}">
										</div>
										<a class="delete_image_article" href="{{ path('delete_article_image', {id: img.id}) }}" onclick="return confirm('Etes vous sûr de vouloir supprimer cet image ?')">
											<div class="btn-close"></div>				
										</a>										
									</div>
								</div>
							{% endfor %}
						</td>
						<td class="col-1">						
							{% for material in article.materials%}
								<p>{{material.name}}</p>
							{% endfor %}						
						</td>
						<td class="col-1">
							<div class="d-flex flex-column">
								<a class="my-2 btn btn-primary btn-blue" href="{{ path('update_article', {id: article.id}) }}">
									<i class="fas fa-pen"></i>
								</a>
								<a class="my-2 btn btn-danger btn-red" href="{{ path('delete_article', {id: article.id}) }}" onclick="return confirm('Etes vous sûr de vouloir supprimer cet article ?')">
									<i class="fas fa-trash"></i>
								</a>
							</div>
						</td>
					</tr>
				{% endfor %}


			</tbody>
		</table>
	</div>
	<div>
		<a href="{{ path('admin') }}">
			<div class="btn btn-danger btn-red my-3">Retour</div>
		</a>
	</div>

{% endblock %}
