{% extends 'base.html.twig' %}

{% block title %}Article
{% endblock %}

{% block body %}
	<div class="container">
		<div class="d-flex justify-content-center">

			<div class="vue_article">
				<div class="img-ratio" style="--ratio:100%;">
					<div class="img vue_article_return">
						{% for img in article.images %}
							{% if loop.first %}
								<img class="d-block w-100" src="{{ img|image }}" alt="">
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>

			{% for img in article.images %}
				<div class="vue_article_miniature" data-get-article-image="{{ img|image }}">
					<div class="vue_article_miniature_cadre">
						<div class="img-ratio" style="--ratio:80%;">
							<div class="img">
								<img src="{{ img|image }}" alt="image de {{article.title}}">
							</div>
						</div>
					</div>
				</div>
			{% endfor %}

		</div>

		<div class="prix">
			<div class="text-center text-uppercase">
				<p class="night my-3">{{ article.title }}</p>
			</div>
			<hr>
			<div class="text-center">
				<p class="night my-3">{{ article.description }}</p>
			</div>
			<div class="vue_achat">
				<div class="achat_prix me-4">
					<p>{{ article.prix }}
						€</p>
				</div>

				{% include "article/_articleButton.html.twig" %}

			</div>
		</div>
	</div>


{% endblock %}
