{% extends 'base.html.twig' %}

{% block title %}Article
{% endblock %}

{% block body %}
	<div class="container">
		<div class="d-flex justify-content-center">

			<div class="vue_photo">
				{% for img in article.images %}
					{% if loop.first %}
						<div class="img-ratio" style="--ratio:100%;">
							<div class="img p-2">
								<img class="d-block w-100" src="{{ img|image }}" alt="image de">
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>

			<div class="vue_photo_miniature">
				{% for img in article.images %}
					<a href="">
						<div class="vue_photo_miniature_cadre" {#data-article-image="{{ article|image }}"#}>
							<div class="img-ratio" style="--ratio:80%;">
								<div class="img ">
									<img src="{{ img|image }}" alt="image de {{article.title}}">
								</div>
							</div>
						</div>
					</a>
				{% endfor %}
			</div>


		</div>

		<div class="prix">
			<div class="text-center text-uppercase">
				<p class="night my-3">{{ article.title }}</p>
			</div>
			<hr>
			<div class="text-center">
				<p class="night my-3">{{ article.description }}</p>
			</div>
			<div class="vue_achat">
				<div class="achat_prix me-4">
					<p>{{ article.prix }}
						€</p>
				</div>

				{% include "article/_articleButton.html.twig" %}

			</div>
		</div>
	</div>


{% endblock %}
